/* .header{
    background-image: url("../../images/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 400px;
}
 */